@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body {
    overflow: auto;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif; 
    background: url('/static/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;

}

.container {
    background: rgba(255, 255, 255, 0.9);
    min-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.logo-image {
    width: 300px;
    height: 70px;
    transition: transform 0.3s ease;
}

.logo-image:hover {
    transform: scale(1.1);
}

.container p {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
    font-weight: 400; 
    line-height: 1.6; 
    letter-spacing: 0.5px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; 
}

.form-group select {
    appearance: none; 
    background: url('/static/img/arrow-down.png') no-repeat right 10px center;
    background-size: 12px;
    padding-right: 30px; 
}

.form-group input:focus, .form-group select:focus {
    border-color: #009ddc;
    box-shadow: 0 0 8px rgba(0, 157, 220, 0.3);
    outline: none;
}

.button {
    background-color: #009ddc;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #007bbd;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}
.messages {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.messages li {
    padding: 3px;
    margin-bottom: -8px;
    border-radius: 5px;
    font-size: 13.5px;
    text-align: center;
}

.messages .error {
    background-color: #ffebee;
    color: #c62828; 
    border: 1px solid #c62828;
}

p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}



/* Start Floor Selector */

.floor-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -9px;
    margin-top: 8px;
}
.room-list {
    max-height: 94vh; 
    overflow-y: auto; 
    padding-bottom: 20px; 
}

.floor-container {
    overflow: visible;
    position: relative;
    width: 100%;
    margin-top: 8px;
}
.floor-button {
    width: 150px;
    padding: 10px 15px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #fff; 
    background-color: #007bff;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    text-align: center; 
    white-space: nowrap; 

}

.floor-button:hover {
    background-color: #0056b3; 
}

.floor-button:active {
    background-color: #004080; 
}
.page-with-margin body {
    margin-top: 300px;  
}

.page-with-margin .container {
    margin-top: 300px; 
}

.floor-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.floor-selector label {
    font-size: 18px;
    font-weight: bold;
}

.add-floor {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.add-floor:hover {
    background-color: #0056b3;
}

.room-table {
    width: 100%;
    border-collapse: collapse;
}

.room-table th, .room-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    text-align: left;
}

.room-table th {
    background-color: #c1c1c157;
    color: rgb(31, 29, 29);
}

.room-table img {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.room-icon {
    display: inline-block;
    vertical-align: middle;
    
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.quantity-control button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-control button:hover {
    background-color: #0056b3;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.flooring-type {
    text-align: right;
    padding: 5px;
    font-size: 14 px;
}

select {
    padding: 5px;
    font-size: 14px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bffad;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #218838;
}


/* Styles for the "other" form */

.title {
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: 600; /* Adjust as needed */
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left; /* Align labels to the left */
}

.input-group label {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Adjust as needed */
    color: #333;
    margin-bottom: 8px; /* Adjust as needed */
}

.input-group label img {
    width: 20px; /* Adjust icon size as needed */
    height: 20px;
    margin-right: 10px;
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background: url('/static/img/arrow-down.png') no-repeat right 10px center; /* Use static tag here */
    background-size: 16px;
    padding-right: 30px;
    box-sizing: border-box; /* Include padding and border in width */
}

.input-group select:focus {
    border-color: #009ddc; /* Match your other focus styles */
    box-shadow: 0 0 8px rgba(0, 157, 220, 0.3); /* Match your other focus styles */
    outline: none;
}

.next-button {
    background-color: #009ddc; /* Match your button color */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px; /* Match your button border-radius */
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Match your button transitions */
    margin-top: 20px; /* Add some top margin */
}

.next-button:hover {
    background-color: #007bbd; /* Match your button hover color */
    transform: translateY(-2px); /* Match your button hover transform */
}

.next-button:active {
    transform: translateY(0); /* Match your button active transform */
}
label {
    font-size: 14px; /* Adjust the size as needed */
}


/* Media query for responsiveness (example) */
@media (max-width: 450px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .input-group label {
        flex-direction: column; /* Stack label and icon vertically */
        align-items: flex-start;
    }

    .input-group label img {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

/* Add the following CSS without changing the existing styles */

/* Styles for the Area Calculation Page */

.content {
    text-align: center; /* Center the content */
}

.image-area {
    margin-bottom: 20px;
    /* Add any specific styling for the image area */
}

.house-image {
    width: 200px; /* Adjust as needed */
    height: auto;
    margin: 0 auto; /* Center the image */
    display: block; /* Make it a block element to center properly */
}

.house-image img {
    max-width: 100%;
    height: auto;
}

.text-area {
    margin-bottom: 10px;
}

.text-area p {
    margin: 0;
    font-size: 1rem; /* Adjust as needed */
    color: #333;
}

.area-value {
    font-weight: bold;
    font-size: 1.2rem; /* Adjust as needed */
}

.unit-toggle {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the toggle */
    margin-top: 20px;
    margin-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* Rounded corners */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Circle */
}

input:checked + .slider {
    background-color: #2196F3; /* Example color */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; /* Example color */
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.unit-label {
    margin-left: 10px;
    font-size: 1rem;
    color: #333;
}

.cost-info-button {
    background-color: #007bff; /* Example color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 200px; /* Set a minimum width */
    min-height: 40px; /* Add a minimum height */
    font-size: 16px; /* Increase font size for better readability */
}