{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="image-area">
            <div class="house-image">
                <img src="{% static 'house_placeholder.png' %}" alt="House Image">
            </div>
        </div>
        <div class="text-area">
            <p>तपाईंको घरको कुल उत्कृष्ट क्षेत्रः</p>
            <p class="area-value">{{ summary.total_house_area }} S.F.</p>
        </div>
    </div>

    <a href="{% url 'cost_calculation' %}" class="cost-info-button">Cost Information</a>
{% endblock content %}
